:root {
	--font-family: "Arial", "Open Sans", sans-serif;
	--primary-color: #17a2b8;
	--black-color: #000;
	--white-color: #fff;
	--grayish-color: #808080;
	--accent-color: #f4f4f4;
	--light-bg: #f8f9fa;
	--dark-bg: #343a40;
	--tron-blue: #0078d7;
	--tron-red: #e81123;
	--tron-orange: #f77f00;
	--dark-color: #343a40;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

* {
	font-family: var(--font-family);
}

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--dark-color);
	color: var(--accent-color);
	text-align: center;
	padding: 20px;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 6px;
	margin: 10px;
}

main {
	flex: 1; /* Takes up all available space between header and footer */
	background: var(--light-bg, #fff);
	margin: 10px;
	border-radius: 8px;
	perspective: 1000px;
}

footer {
	
	text-align: center;
	padding: 10px;
	background-color: var(--dark-color);
	color: var(--light-color);
	border-radius: 6px;
	margin: 10px;
}

.success {
	color: var(--success-color);
	font-weight: bold;
}

.error {
	color: var(--danger-color);
	font-weight: bold;
}

.banner {
	display: flex;
	text-align: center;
	padding: 20px;
	font-size: 50px;
	font-weight: lighter;
	height: 50%;
	margin-top:20%;
	align-items: center;
	justify-content: center;
	color: var(--grayish-color);
	border: 2px solid var(--grayish-color);
	/* background-color: var(--dark-color); */
	border-radius: 10px;
	transform: translateZ(100px);	
	transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
}