@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Stack+Sans+Headline:wght@200..700&display=swap');
:root {
	--font-family: "Stack Sans Headline", "Arial", "Open Sans", sans-serif;
	--primary-color: #17a2b8;
	--black-color: #000;
	--white-color: #fff;
	--grayish-color: #808080;
	--accent-color: #f4f4f4;
	--light-bg: #f8f9fa;
	--dark-bg: #343a40;
	--tron-blue: #0078d7;
	--tron-red: #e81123;
	--tron-orange: #f77f00;
	--dark-color: #343a40;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
	--card-bg: rgba(244, 244, 244, 0.1);
}

* {
	font-family: var(--font-family);
}

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--dark-color);
	color: var(--accent-color);
	text-align: center;
	padding: 20px;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 6px;
	margin: 10px;
}

main {
	flex: 1; /* Takes up all available space between header and footer */
	background: var(--light-bg, #fff);
	margin: 5px;
	border-radius: 8px;
	perspective: 1000px;
}

footer {
	
	text-align: center;
	padding: 10px;
	background-color: var(--dark-color);
	color: var(--light-color);
	border-radius: 6px;
	margin: 10px;
}

.success {
	color: var(--success-color);
	font-weight: bold;
}

.error {
	color: var(--danger-color);
	font-weight: bold;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	padding-left: 20px;
	font-size: 1.2rem;
	background-color: var(--dark-color);
	color: var(--light-color);
	border-radius: 6px;
	perspective: 1000px;
}

.navbar-brand {
	color: var(--light-color);
	font-weight: normal;
	font-size: 1.5rem;
	padding: 10px;
	background-color: var(--primary-color);
	border-radius: inherit;
	font-family: 'Silkscreen','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transform: rotateY(0deg);
	transition: transform 2s ease-in-out;
}

.navbar a {
	color: var(--light-color);
	text-decoration: none;
	font-size: medium;
	font-family: "Stack Sans Headline",'Arial', 'Electrolize', sans-serif;
}

.navbar-menu {
	display: flex;
	gap: 20px;
	align-items: center;
	padding-right: 20px;	
	transform: translateX(10%);
	opacity: 0;
	transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.banner {
	transform-style:preserve-3d;
	display: flex;
	padding: 10px;
	font-size: 10vh;
	font-weight: lighter;
	font-family: "Goldman","Stack Sans Headline",'Arial', 'Electrolize', sans-serif;
	width: fit-content;
	height: fit-content;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(0%, 0%) translateZ(-100px);
	transform-origin: center center;	
	justify-content: center;
	color: var(--black-color);
	border: 2px solid var(--grayish-color);
	border-radius: 10px;
	transition: transform 0.2s linear, opacity 1s ease-in-out;
	will-change: transform, opacity;
}


.section {
	margin-bottom: 40px;
	padding: 20px;
}

.section-title {
	font-size: 1.6rem;
	color: var(--accent);
	margin-bottom: 15px;
}

.horizontal-list {
	display: flex;
	gap: 0px;
	overflow-x: auto;
	scroll-behavior: smooth;
	padding-bottom: 10px;
}

.horizontal-list::-webkit-scrollbar {
	height: 6px;
}
.horizontal-list::-webkit-scrollbar-thumb {
	background: var(--accent);
	border-radius: 10px;
}

.card {
	position: relative;
	/* min-width: 280px; */
	width: 200px;
	height: 300px;
	/* border-radius: 12px; */
	overflow: hidden;
	flex-shrink: 0;
	cursor: pointer;
	box-shadow: 0 4px 15px rgba(0,0,0,0.5);
	z-index: 1;
	/* border: 1px solid var(--grayish-color); */
	/* transition: transform 0.3s ease; */
}

.card:hover {
	animation: incWidth 0.5s forwards;
}

.card:not(:hover) {
	animation: decWidth 0.5s forwards;
}

.card img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.card:hover img {
	opacity: 0.9;
}

.card:hover .card-info {
	backdrop-filter: blur(2px);
	
}

/* animation named incWidth to increase card width */
@keyframes incWidth {
	from { width: 200px; }
	to { width: 300px; }
}

@keyframes decWidth {
	from { width: 300px; }
	to { width: 200px; }
}

.card-info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
	padding: 12px;
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	z-index: 2;
	color: #fff;
}

.card-title {
	width: 200px;
	margin: 0 0 4px;
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--accent);
}

.card-desc {
	width: 200px;
	margin: 0;
	font-size: 0.85rem;
	line-height: 1.3;
	color: #ddd;
}

.section-controls {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	gap: 10px;
}

.section-controls button {
	padding: 0px;
	/* background-color: var(--grayish-color); */
	color: var(--light-color);
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	cursor: pointer;
	font-size: 1.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease;
}

.section-controls button:hover {
	/* background-color: var(--accent); */
	color: var(--black-color);
	border:1px solid var(--grayish-color);
}
