{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>GK_SKIFF - {% block title %}{% endblock %}</title>
	{% block style_scripts %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	{% endblock %}
</head>

<body>
	<main>		
		{% block content %}
		<!-- Page-specific content goes here -->
		{% endblock %}
	</main>

	<footer>
		© 2025 GameSkiff
	</footer>
	<script>
		const btn = document.getElementById('theme-toggle');
		let themeFromStorage = localStorage.getItem('theme');
		if (themeFromStorage === 'dark') {
			document.documentElement.setAttribute('data-theme', 'dark');
		}
		btn.addEventListener('click', () => {
			document.documentElement.toggleAttribute('data-theme');
			if (!document.documentElement.hasAttribute('data-theme')) {
				document.documentElement.removeAttribute('data-theme');
				localStorage.removeItem('theme');
			} else {
				document.documentElement.setAttribute('data-theme', 'dark');
				localStorage.setItem('theme', 'dark');
			}
		});
	</script>
	
	{% block scripts %}
		<script src="{% static 'js/index.js' %}"></script>
	{% endblock %}
	{% block other_scripts %}{% endblock %}
</body>

</html>