{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block style_scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock %}

{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}

<section class="section">
	<h2 class="section-title">All Games</h2>
	<button class="cardd-btn primary" id="add-game-btn">Add Game</button>
	<div class="flex" id="all-games">
	</div>
	{% if not games %}
		<div>No games found</div>
	{% endif %}
	

</section>

<!-- {% block scripts %} 
		<script src="{% static 'js/index.js' %}"></script>
	{% endblock %} -->
{% endblock %}

{% block other_scripts %}
<script>
	const list = document.querySelector('.horizontal-list');
	if (list) {
		document.querySelector('.left').onclick = () => list.scrollBy({ left: -250, behavior: 'smooth' });
		document.querySelector('.right').onclick = () => list.scrollBy({ left: 250, behavior: 'smooth' });
	}
	glitchReveal(navbarBrand, navbarBrand.textContent, 1000);

	const addGameBtn = document.querySelector('#add-game-btn');
	addGameBtn.addEventListener('click', () => {
		window.location.href = "{% url 'addgamepage' %}";
	});

	const allGames = document.querySelector('#all-games');
	fetchGames(allGames);

	let gamesArray = [];   // this will store the array of JSON objects

	function fetchGames(parent) {
		parent.innerHTML = '';

		const loggedInUser = '{% if user.is_authenticated %}{{ user.username }}{% endif %}';

		fetch("{% url 'allgames' %}")
			.then(res => res.json())
			.then(data => {
				gamesArray = data;   // ⬅️ store the full array here
				console.log("Fetched games:", gamesArray);
				// render to UI
				data.forEach(g => {
					parent.appendChild(createGameCard({
						title: g.title,
						description: g.description,
						author: g.author + (loggedInUser === g.author ? " (You)" : ""),
						genre: g.genres.map(genre => genre).join(", "),
						game_id: g.id,
						platform: g.platforms
					}));
				});
			});
	}

</script>
{% endblock %}