{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block style_scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock %}

{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}

<section class="section">
	<h2 class="section-title">All Games</h2>
	{% if games %}
	<div class="flex" id="all-games">

	</div>
	{% else %}
	<div>No games found</div>
	{% endif %}
	<button class="cardd-btn primary" id="add-game-btn">Add Game</button>
</section>

<!-- {% block scripts %} 
		<script src="{% static 'js/index.js' %}"></script>
	{% endblock %} -->
{% endblock %}

{% block other_scripts %}
<script>
	const list = document.querySelector('.horizontal-list');
	if (list) {
		document.querySelector('.left').onclick = () => list.scrollBy({ left: -250, behavior: 'smooth' });
		document.querySelector('.right').onclick = () => list.scrollBy({ left: 250, behavior: 'smooth' });
	}
	glitchReveal(navbarBrand, navbarBrand.textContent, 1000);

	const addGameBtn = document.querySelector('#add-game-btn');
	addGameBtn.addEventListener('click', () => {
		createModal({
			title: "Add Game",
			content: `
					<form class="flex flex-col" action="{% url 'addgame' %}" method="POST">
						{% csrf_token %}
						<input type="text" name="title" placeholder="Game Title">
						<input type="text" name="description" placeholder="Game Description">
						<input type="text" name="link" placeholder="Game Link">
						<button class="btn" type="submit">Add Game</button>
					</form>`
		});
	});

	const allGames = document.querySelector('#all-games');
	fetchGames(allGames);

	let gamesArray = [];   // this will store the array of JSON objects

	function fetchGames(parent) {
		parent.innerHTML = '';

		fetch("{% url 'allgames' %}")
			.then(res => res.json())
			.then(data => {
				gamesArray = data;   // ⬅️ store the full array here
				console.log("Fetched games:", gamesArray);

				// optional: render to UI
				/*data.forEach(g => {
					parent.innerHTML += `<div>${g.title}</div>`;
				});*/

				// render to UI
				data.forEach(g => {
					parent.appendChild(createGameCard({
						title: g.title,
						description: g.description,
						author: g.author,
						genre: g.genre		
					}));
				});
			});
	}

</script>
{% endblock %}