{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block style_scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock %}

{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}

<section class="section">
	<div class="section-header flex-start-end">
		<h2 class="section-title">All Games</h2>
		<button class="btn primary" id="add-game-btn">Add Game</button>
	</div>
	<div class="flex">
		<div class="genres pl-5 pr-5">
			<a class="genre {% if not active_genre_name %}active{% endif %}" id="genre-all"
				href="{% url 'index' %}">All</a>
			{% for genre in genres %}
			<a class="genre {% if genre.genre_name == active_genre_name %}active{% endif %}"
				href="{% url 'index' genre.genre_name %}">{{ genre.genre_name }}</a>
			{% endfor %}
		</div>
		<div id="all-games">
			{% if not games %}
			<div>No games found</div>
			{% else %}
			<div class="pagination">
				<form method="get" class="per-page-form flex">
					<label for="per_page">Records per page:</label>
					<select name="per_page" id="per_page" onchange="this.form.submit()">
						<option value="5"  {% if per_page == 5 %}selected{% endif %}>5</option>
						<option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
						<option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
						<option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
						<option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
					</select>

					{# keep the current page when selecting #}
					<input type="hidden" name="page" value="{{ page_obj.number }}">
				</form>

				

				{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}" class="page-btn">← Prev</a>
				{% else %}
					<span class="page-btn disabled">← Prev</span>
				{% endif %}

				{% for num in page_obj.paginator.page_range %}
					<a href="?page={{ num }}&per_page={{ per_page }}" 
					class="page-number {% if num == page_obj.number %}active{% endif %}">
						{{ num }}
					</a>
				{% endfor %}

				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}" class="page-btn">Next →</a>
				{% else %}
					<span class="page-btn disabled">Next →</span>
				{% endif %}			
			</div>

			<div class="flex flex-wrap">
				{% for game in page_obj %}
				<div class="game-card">
					<div class="game-thumb">
						{% if game.image %}
						<img src="{{ game.image.url }}" alt="Game Image">
						{% else %}
						<img src="{% static 'imgs/no_game_image_bw.jpg' %}" alt="No Image Available">
						{% endif %}
						<div class="actions">
							<a class="game-card-btn play-btn" target="_blank" href='{% url "see-game" game.id %}'>
								Info
							</a>
							<a class="game-card-btn report-btn" target="_blank" href='{% url "see-game" game.id %}'>
								Report
							</a>
						</div>
					</div>

					<div class="game-info">
						<h3 class="game-title">{{game.title}}</h3>
						<p class="game-author">by {{game.author}}</p>
						<p class="game-genre">{{game.genres.all|join:", "}}</p>

						<div class="game-tags">
							<span class="tag">Play in browser</span>
							{% if "Windows" in game.platforms %}
							<span class="icon">🖥️</span>
							{% endif %}
							{% if "Mac" in game.platforms %}
							<span class="icon">🍎</span>
							{% endif %}
							{% if "Linux" in game.platforms %}
							<span class="icon">🐧</span>
							{% endif %}
							{% if "Android" in game.platforms %}
							<span class="icon">🤖</span>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endif %}

		</div>
	</div>



</section>

<!-- {% block scripts %} 
		<script src="{% static 'js/index.js' %}"></script>
	{% endblock %} -->
{% endblock %}

{% block other_scripts %}
<script>
	const list = document.querySelector('.horizontal-list');
	if (list) {
		document.querySelector('.left').onclick = () => list.scrollBy({ left: -250, behavior: 'smooth' });
		document.querySelector('.right').onclick = () => list.scrollBy({ left: 250, behavior: 'smooth' });
	}
	if (window.location.pathname === "/" && window.location.search === "") {
		glitchReveal(navbarBrand, navbarBrand.textContent, 1000);
	}
	//glitchReveal(navbarBrand, navbarBrand.textContent, 1000);

	const addGameBtn = document.querySelector('#add-game-btn');
	addGameBtn.addEventListener('click', () => {
		window.location.href = "{% url 'addgamepage' %}";
	});

	const articles = document.querySelectorAll('.game-card');
	articles.forEach(article => {
		const actions = article.querySelector('.actions');
		article.addEventListener('mouseenter', () => {
			article.style.boxShadow = `0 4px 20px #bababacd`;
			actions.style.transform = 'translate(-50%, -50%) scale(1.05)';
			actions.style.opacity = '1';
		});
		article.addEventListener('mouseleave', () => {
			article.style.boxShadow = `0 4px 12px #00000040`;
			actions.style.transform = 'translate(-50%, -50%) scale(1)';
			actions.style.opacity = '0';
		});
	});
</script>
{% endblock %}