{% extends 'base.html' %}
{% load static %}

{% block title %}User Profile{% endblock %}

{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}
<section class="profile-section">
	<div class="side-bar">
		<div class="profile-info">
			<div class="profile-pic"></div>
			<div class="profile-name">{{ user.username }}</div>
		</div>
		<div class="side-bar-menu">
			<div class="side-bar-item" id="profile-item">Profile</div>
			<div class="side-bar-item" id="settings-item">Settings</div>
			<div class="side-bar-item" id="games-item">Games</div>
			{% if user.is_superuser %}
				<div class="side-bar-item" id="superuser-item">Superuser Area</div>
			{% endif %}
		</div>
	</div>
	<div class="profile-content">
		<div class="detail" id="profile-detail">
			<h2 class="detail-title">Profile</h2>
			<hr>
			<div class="profile-info-area">
				<p>Welcome, {{ user.username }} !! This is your profile page.</p>
				<p>Name: {{ profile.name }}</p>
				{% if user.email == None or user.email == '' %}
					<p>Email: <i>Not set</i></p>
				{% else %}
					<p>Email: {{ user.email }}</p>
				{% endif %}
			</div>
			<button class="cardd-btn primary" id="edit-profile-btn">Edit</button>
			<br>
			<br>
			<div class="profile-info-area-edit">
			</div>
		</div>
		<div class="detail" id="settings-detail">
			<h2 class="detail-title">Settings</h2>
			<hr>
			<p>Change password</p>
			<p>Change email</p>
		</div>
		<div class="detail" id="games-detail">
			<h2 class="detail-title">Games</h2>
			<hr>
			<div class="tabs">
				<div class="tab-buttons">
					<button class="tab-btn active" data-tab="tab1">Your Game Library</button>
					<button class="tab-btn" data-tab="tab2">Created Games</button>
				</div>

				<div class="tab-content active" id="tab1">
					<h4>Your game library</h4>
					<div class="games-flex-grid" id="played-games-list"></div>
				</div>

				<div class="tab-content" id="tab2">
					<h4>Created games</h4>
					<div class="games-flex-grid" id="created-games-list"></div>
				</div>
			</div>
		</div>
		{% if user.is_superuser %}
		<div class="detail" id="superuser-detail">
			<h2 class="detail-title">Superuser Area</h2>
			<hr>
			<p>Some metrics about the site:-</p>
			<div class="flex flex-wrap">
				<div class="metric">
					<div class="metric-value">{{ superuser_metrics.users }}</div>
					{% if superuser_metrics.users == 1 %}
						<div class="metric-head">User</div>
					{% else %}
						<div class="metric-head">Users</div>
					{% endif %}					
				</div>
				<div class="metric">
					<div class="metric-value">{{ superuser_metrics.login_users }}</div>
					{% if superuser_metrics.login_users == 1 %}
						<div class="metric-head">Logged-In User</div>
					{% else %}
						<div class="metric-head">Logged-In Users</div>
					{% endif %}					
				</div>
				<div class="metric">
					<div class="metric-value">{{ superuser_metrics.games }}</div>
					{% if superuser_metrics.games == 1 %}
						<div class="metric-head">Game</div>
					{% else %}
						<div class="metric-head">Games</div>
					{% endif %}
				</div>			
			</div>
			<p>For more metrics, explore the links below:-
			</p>
			<a target="_blank" class="btn-link" href="{% url 'admin:index' %}">Main Admin panel</a>
			<a target="_blank" class="btn-link" href="{% url 'dashboard:index' %}">Dashboard</a>		

		</div>
		{% endif %}
	</div>

</section>


{% endblock %}

{% block other_scripts %}
<script>

	const profileName = document.querySelector('.profile-name');
	glitchReveal(profileName, profileName.textContent, 1000);

	sideBarMenu = document.querySelector('.side-bar-menu');

	ownGames=document.querySelector('#created-games-list');

	function populateGames(url,parent) {
		fetch("{% url 'fetchgamesbycurrentuser' %}")
			.then(res => res.json())
				.then(data => {
					gamesArray = data;   // ⬅️ store the full array here
					console.log("Fetched games:", gamesArray);
					// render to UI
					data.forEach(g => {
						parent.appendChild(createGameCard({
							title: g.title,
							description: g.description,
							author: g.author,
							genre: g.genre		
						}));
					});
				});		
	}

	populateGames("{% url 'fetchgamesbycurrentuser' %}",ownGames);


	let games = [
		{
			"name": "Game 1",
			"title": "Driftbreak: Neon Outrun",
			"image": "https://picsum.photos/300/180?random=11",
			"genre": "Racing",
			"rating": 4.4,
			"year": 2024,
			"description": "Race through neon cities where every turn rewrites the future."
		}
	];
		

	

	let detailSections = {
		"profile-item": document.getElementById("profile-detail"),
		"settings-item": document.getElementById("settings-detail"),
		"games-item": document.getElementById("games-detail")
	};
</script>
{% if user.is_superuser %}
	<script>
		detailSections["superuser-item"] = document.getElementById("superuser-detail");
	</script>
{% endif %}

<script>
	
	sideBarMenu.querySelectorAll('.side-bar-item').forEach((item) => {
		item.addEventListener('click', () => {
			sideBarMenu.querySelectorAll('.side-bar-item').forEach((item) => {
				item.classList.remove('active');
			})
			item.classList.add('active');
			const targetDetail = detailSections[item.id];
			if (targetDetail) {
				targetDetail.scrollIntoView({
					behavior: "smooth",
					block: "start"
				});
			}
			//blink border of detail title to emphasize it
			const detailTitle = targetDetail.querySelector('.detail-title');
			glitchReveal(detailTitle, detailTitle.textContent);
		})
	});
</script>

<script>
	const editProfileBtn = document.getElementById('edit-profile-btn');
	let formHidden = true;
	editProfileBtn.addEventListener('click', () => {
		const profileInfoArea = document.querySelector('.profile-info-area');
		const profileInfoAreaEdit = document.querySelector('.profile-info-area-edit');

		formHTML = `
			<form method="post" class="profile-form" action="{% url 'bkeditprofile' %}">
				{% csrf_token %}				
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" id="name" name="name" value="{{ profile.name }}" required>
				</div>				
				<button type="submit" class="cardd-btn primary">Save</button>
			</form>
		`;

		formHidden = !formHidden;
		if (!formHidden) {
			profileInfoAreaEdit.innerHTML = formHTML;
			profileInfoArea.classList.add('hidden');
			editProfileBtn.innerHTML = "Cancel Editing";
			editProfileBtn.classList.add('btn-danger');
		}
		else {
			profileInfoAreaEdit.innerHTML = "";
			profileInfoArea.classList.remove('hidden');
			editProfileBtn.innerHTML = "Edit";
			editProfileBtn.classList.remove('btn-danger');
		}
	});



</script>
<script>
	document.querySelectorAll(".tab-btn").forEach(btn => {
		btn.addEventListener("click", () => {

			// remove active tab button
			document.querySelectorAll(".tab-btn")
				.forEach(b => b.classList.remove("active"));

			// activate clicked button
			btn.classList.add("active");

			// hide all content
			document.querySelectorAll(".tab-content")
				.forEach(tab => tab.classList.remove("active"));

			// show targeted content
			document.getElementById(btn.dataset.tab)
				.classList.add("active");
		});
	});

</script>
{% endblock %}